<div id="job-queue-container"></div>
<img
  src="/file=web/assets/img/clearfix.png"
  onload="{ 
     async function loadHtmlContent() {
        const response = await fetch('/file=web/components/job-queue/job-queue.html');
        document.getElementById('job-queue-container').innerHTML = await response.text();

        var script = document.createElement('script');
        script.src = '/file=web/assets/js/job-queue.js';
        document.body.appendChild(script); 

        var style = document.createElement('style');
        style.href = '/file=web/assets/css/job-queue.css';
        document.body.appendChild(style); 

        
    }
    loadHtmlContent();
    }"
/>
